.playbar {
    grid-area: playbar;

    background-color: whitesmoke;
}

.controls {
    width: 250px !important;
}

.stretch {
    flex-grow: 1;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.grid > .slim.row {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.track-progress {
    position: relative;

    height: 10px;
    width: 100%;
}

.track-progress > * {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.track-progress > input[type="range"] {
    cursor: pointer;
    opacity: 0;
}

progress {
    background: transparent;
    border: 1px solid white;
}

::-moz-progress-bar {
    background-color: white;
}