.playbar {
    grid-area: playbar;

    background-color: lightgrey;
}

.controls {
    width: 250px !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}